@model LaFiesta.ViewModels.Detail.DetailFestivalViewModel

@{
	ViewData["Title"] = "Details";
}

<h1>@Model.Naam</h1>
<p>Afbeelding:</p>
<img src="~/images/festivals/@Model.Afbeelding" alt="@Model.Afbeelding" style="height: 10%"/>
<p>Minimum leeftijd: @Model.MinimumLeeftijd</p>
<p>Locatie: @Model.Locatie.Straat @Model.Locatie.Huisnummer @Model.Locatie.Postcode @Model.Locatie.Plaats</p>
<p>Datum: @Model.BeginDatum - @Model.EindDatum</p>
<p>Omschrijving: @Model.Omschrijving</p>

@Html.ActionLink("Terug", "Index")
