@model LaFiesta.ViewModels.Detail.DetailFestivalViewModel

@{
	ViewData["Title"] = "Details";
}

<h1>@Model.Naam</h1>
<p>Afbeelding:</p>
<img src="~/images/festivals/@Model.Afbeelding" alt="@Model.Afbeelding" style="height: 10%"/>
<p>Minimum leeftijd: @Model.MinimumLeeftijd</p>
<p>Locatie: @Model.Locatie.Straat @Model.Locatie.Huisnummer @Model.Locatie.Postcode @Model.Locatie.Plaats</p>

<p>Datum: @Html.DisplayFor(Model => Model.BeginDatum) - @Html.DisplayFor(Model => Model.EindDatum)</p>

<p>Omschrijving: @Model.Omschrijving</p>
<p>
	Artiesten: 
	@foreach (var festivalArtiest in Model.FestivalArtiesten)
	{
		<ul>
			<li>
				@festivalArtiest.Artiest.Voornaam @festivalArtiest.Artiest.Achternaam
			</li>
		</ul>
	}
</p>
<a asp-action="Index" class="btn" style="background-color: #FF729F; color: white;">Terug</a>
