@model LaFiesta.ViewModels.Lists.ListFestivalViewModel

@{
	ViewData["Title"] = "Festival";
}

<div class="container" style="align-content:center;">
	<div class="text-center">
		<h1 class="display-4">Festivals</h1>
	</div>
	<p>
		<a asp-action="Create">Create New Festival</a>
	</p>

<div class="row justify-content-center">
		@foreach (var festival in Model.Festivals)
		{	
			<div class="card m-2 col-3 p-0">
				<img src="~/images/festivals/@festival.Afbeelding" class="card-img-top" alt="@festival.Afbeelding" style="height: 70%;">
				<div class="card-body" style="background-color: #AB87FF;">
					<h5 class="card-title" style="color: white; text-align: center;">@Html.DisplayFor(modelItem => festival.Naam) @Html.DisplayFor(modelItem => festival.Naam)</h5>
					<p class="card-text" style="color: white;">
						Minimum leeftijd: @Html.DisplayFor(modelItem => festival.MinimumLeeftijd)
						<br>
						Begin datum: @Html.DisplayFor(modelItem => festival.BeginDatum) Eind datum: @Html.DisplayFor(modelItem => festival.EindDatum)  
						<br>
						Omschrijving: @Html.DisplayFor(modelItem => festival.Omschrijving)
						<br>
						Locatie: @Html.DisplayFor(modelItem => festival.LocatieId)
					</p>
					<div style="text-align: center; color: white;">
						<a asp-action="Edit" asp-route-id="@festival.Id" style="color: white;">Edit</a>
						|
						<a asp-action="Delete" asp-route-id="@festival.Id" style="color: white;">Delete</a>
					</div>
				</div>
				<div class="card-footer bg-primary" style="text-align: center; color: white;">
					<a target="_blank" href="" class="btn" style="background-color: #FF729F; color: white;">Meer details</a>
				</div>
			</div>
		}
</div>

<div style="clear: both;" />
