@model LaFiesta.ViewModels.Lists.ListHomeViewModel
@{
    ViewData["Title"] = "Home";
}
<div class="text-center">
	<h1 class="display-4">Artiesten</h1>
</div>
<div class="row justify-content-center">
	@foreach (var artiest in Model.Artiesten.Take(3))
	{
		<div class="card m-2 col-3 p-0">
			<img src="~/images/artiesten/@artiest.Afbeelding" class="card-img-top" alt="@artiest.Afbeelding" style="height: 70%;">
			<div class="card-body" style="background-color: #AB87FF;">
				<h5 class="card-title" style="color: white; text-align: center;">@Html.DisplayFor(modelItem => artiest.Voornaam) @Html.DisplayFor(modelItem => artiest.Achternaam)</h5>
				<p class="card-text" style="color: white;">
					Geslacht: @Html.DisplayFor(modelItem => artiest.Geslacht)
					<br>
					Geboortedatum: @Html.DisplayFor(modelItem => artiest.Geboortedatum)
					<br>
					Genre: @Html.DisplayFor(modelItem => artiest.Genre)
				</p>
				@if (this.User.Identity.IsAuthenticated && User.IsInRole("admin"))
				{
					<div style="text-align: center; color: white;">
						<a asp-controller="Artiest" asp-action="Edit" asp-route-id="@artiest.Id" style="color: white;">Edit</a>
						|
						<a asp-controller="Artiest" asp-action="Delete" asp-route-id="@artiest.Id" style="color: white;">Delete</a>
					</div>
				}
			</div>
			<div class="card-footer bg-primary" style="text-align: center; color: white;">
				<a target="_blank" href="https://nl.wikipedia.org/wiki/@artiest.Voornaam&#95;@artiest.Achternaam" class="btn" style="background-color: #FF729F; color: white;">Meer details</a>
			</div>
		</div>
	}
</div>
<div class="text-center">
	<h1 class="display-4">Festivals</h1>
</div>
<div class="row justify-content-center">
	@foreach (var festival in Model.Festivals.Take(3))
	{
		<div class="card m-2 col-3 p-0">
			<img src="~/images/festivals/@festival.Afbeelding" class="card-img-top" alt="@festival.Afbeelding" style="height: 10rem;">
			<div class="card-body" style="background-color: #AB87FF;">
				<h5 class="card-title" style="color: white; text-align: center;">@Html.DisplayFor(modelItem => festival.Naam)</h5>
				<p class="card-text" style="color: white;">
					<strong>Minimum leeftijd:</strong>
					<br>
					@Html.DisplayFor(modelItem => festival.MinimumLeeftijd)
					<br>
					<strong>Locatie:</strong>
					<br>
					@Html.DisplayFor(modelItem => festival.Locatie.Straat) @Html.DisplayFor(modelItem => festival.Locatie.Huisnummer) @Html.DisplayFor(modelItem => festival.Locatie.Postcode) @Html.DisplayFor(modelItem => festival.Locatie.Plaats)
					<br>
					<strong>Datum:</strong>
					<br>
					@Html.DisplayFor(modelItem => festival.BeginDatum) - @Html.DisplayFor(modelItem => festival.EindDatum)
					<br>
					<strong>Omschrijving:</strong>
					<br>
					@Html.DisplayFor(modelItem => festival.Omschrijving)
				</p>
			</div>
			<div class="card-footer bg-primary" style="text-align: center; color: white;">
				@if (this.User.Identity.IsAuthenticated && User.IsInRole("admin"))
				{
					<div style="text-align: center;">
						<a asp-controller="Festival" asp-action="Edit" asp-route-id="@festival.Id" style="color: white;">Edit</a>
						|
						<a asp-controller="Festival" asp-action="Delete" asp-route-id="@festival.Id" style="color: white;">Delete</a>
					</div>
				}
				<a asp-controller="Festival" asp-action="Details" asp-route-id="@festival.Id" class="btn" style="background-color: #FF729F; color: white;">Details</a>
				<a asp-controller="Ticket" asp-action="Index" asp-route-id="" class="btn" style="background-color: #FF729F; color: white;">Tickets</a>
			</div>
		</div>
	}
</div>


<div style="clear: both;" />


